
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.monospace {
  font-family: monospace;
}

.balance {
  font-size: 20px;
}