<template>
    <div class="container-fluid pt-4">
        <div v-if="error" class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        <div v-if="loading" class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
        </div>
        <div v-else>
            <h3 class="mb-3">JSON-RPC Credentials:</h3>
            <div class="row">
                <div class="col-sm-2">Server address:</div>
                <div class="col-sm-3">{{ credentials.address }}</div>
            </div>
            <div class="row">
                <div class="col-sm-2">Username:</div>
                <div class="col-sm-3">{{ credentials.username }}</div>
            </div>
            <div class="row">
                <div class="col-sm-2">Password:</div>
                <div class="col-sm-3">{{ credentials.password }}</div>
            </div>
            <div class="mt-3">
                <button @click="checkBalance" type="button" class="btn btn-primary" :disabled="loading_balance">
                    <span v-if="loading_balance" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Check balance
                </button>
                <button @click="createAddress" type="button" class="btn btn-primary" :disabled="loading_address">
                    <span v-if="loading_address" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Create new address
                </button>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <h4 class="mb-3">Balance</h4>
                    <big class="balance"><b>{{ balance }}&nbsp;BTC</b></big>
                </div>
                <div class="col-sm-4">
                    <div v-if="new_addresses.length > 0" class="mb-3">
                        <h4 class="mb-3">New addresses</h4>
                        <ul class="list-group">
                            <li v-for="(address, index) in new_addresses" :key="index" class="list-group-item monospace">
                                {{ address.address }},
                                balance: {{ address.balance }}
                            </li>
                        </ul>
                    </div>
                    <h4 class="mb-3">My addresses</h4>
                    <ul class="list-group">
                        <li v-for="(address, index) in addresses" :key="index" class="list-group-item monospace">
                            {{ address.address }},
                            amount: {{ address.amount }}
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h4 class="mb-3">Transactions</h4>
                    <div v-for="(transaction, index) in transactions" :key="index" class="card bg-light mb-3">
                        <div class="card-body monospace">
                            <div>
                                txid: {{ transaction.txid }}
                            </div>
                            <div>
                                address: {{ transaction.address }}
                            </div>
                            <div>
                                amount: <b>{{ transaction.amount }}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            credentials: [],
            balance: null,
            addresses: [],
            new_addresses: [],
            transactions: [],
            loading: true,
            loading_balance: false,
            loading_address: false,
            error: null
        }
    },
    created(){
        // Get info
        axios.get('/api/index')
            .then(response => {
                this.credentials = response.data.credentials
                this.balance = response.data.balance
                this.addresses = response.data.addresses
                this.transactions = response.data.transactions
                this.loading = false
            })
            .catch(error => {
                this.error = error.response.data
            })
    },
    methods: {
        // Check balance
        checkBalance(){
            this.loading_balance = true
            axios.get('/api/balance')
                .then(response => {
                    this.balance = response.data.balance
                    this.loading_balance = false
                })
                .catch(error => {
                    console.log(error.response.data)
                    this.loading_balance = false
                })
        },
        // Create new address
        createAddress(){
            this.loading_address = true
            axios.post('/api/create_address')
                .then(response => {
                    this.new_addresses.push(response.data)
                    this.loading_address = false
                })
                .catch(error => {
                    console.log(error.response.data)
                    this.loading_address = false
                })
        }
    }
}
</script>
